extends layout

block content
  div.wrapper
    div#board
      div#board-id(data-value=boardId)
      div#user-id(data-value=userId)

      nav
        div.nav-icons
          div.icon.save#save
          div.icon.pencil#pencil
          div.icon.text#text
          div.icon.eraser#eraser
          input#colorPicker(type="text")

        div.nav-buttons
          input.button.small#toggle-chat(type="button", value="Chat")
          input.button.small#clear(type="button", value="Clear")

      canvas#draw(width="800", height="450")

    div#chat-container.closed
      div.chat
      div.controls
        input#current-message(type="text")
        input.button.small#send-message(type="button", value="Send")

  script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.22/paper-full.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js')
  script(src='/javascripts/lib/Blob.js')
  script(src='/javascripts/lib/canvas-toBlob.js')
  script(src='/socket.io/socket.io.js')

  script(type='text/paperscript', src='/javascripts/board.js', canvas='draw')
