extends layout

block content
  div#board
    div#board-id(data-value=boardId)
    div#user-id(data-value=userId)

    nav
      input.icon.save#save(type="button")
      input.icon.pencil#pencil(type="button")
      input.picker#colorPicker(type="text")
      input.button.small#clear(type="button", value="Clear")

    canvas#draw

  div#chat-container
    div.chat
    div.controls
      input#current-message(type="text")
      input.button.small#send-message(type="button", value="Send")

  script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.22/paper-full.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js')
  script(src='/javascripts/lib/Blob.js')
  script(src='/javascripts/lib/canvas-toBlob.js')
  script(src='/socket.io/socket.io.js')

  script(type='text/paperscript', src='/javascripts/board.js', canvas='draw')
