extends layout

block content
  h1 BitBoard

  a.button.login-button(href="#join-modal") Join Room
  a.button.login-button(href="#create-modal") Create Room

  div.modal#join-modal
    div.dialog
      div.field
        h2 Your Name
        input.modal-input.userid(type="text", maxlength="8", required="true")

      div.field
        h2 Room Code
        input.modal-input.shortcode(type="text", maxlength="4", required="true")

      div.field
        h2 Password
        input.modal-input(type="password")

      a.button.submit.join.invalid(href="#join-modal") Join

  div.modal#create-modal
    form.dialog(action="boards/", method="POST")
      div.field
        h2 Your Name
        input.modal-input.userid(type="text", name="userid" maxlength="8", required="true")

      div.field
        h2 Password
        input.modal-input(type="password", name="password")

      input.button.submit.create(type="submit", value="Create")

  script(src='/javascripts/index.js')
