doctype html
html
  head
    title=title

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://code.jquery.com/jquery-2.0.2.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.22/paper-full.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js')
    script(src='/socket.io/socket.io.js')

  body
    block content
