doctype html
html
  head
    title=title

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/board.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='http://code.jquery.com/jquery-2.0.2.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.22/paper-full.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chat.js')
    script(src='/javascripts/Blob.js')
    script(src='/javascripts/canvas-toBlob.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js')

  body
    block content
