.wrapper {
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

#board {
    /*background: url('../images/bg.png') repeat #e4e4e4;*/
    overflow-x: auto;
    position: relative;
    height: 100%;
}

#chat-container {
    position: absolute;
    top: 51px;
    right: 0;
    width: 30%;
    height: calc(100% - 51px);
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding: 5px;
    padding-bottom: 10px;
    transition: all 0.3s ease-in;
}
    #chat-container.closed {
        right: -30%;
    }
    .wrapper[data-mobile="true"] #chat-container {
        top: auto;
        right: 0;
        bottom: 0;
        border-top: 1px solid #ccc;
        height: 60%;
        width: 100%;
    }
        .wrapper[data-mobile="true"] #chat-container.closed {
            right: 0;
            bottom: -60%;
        }

.chat {
    padding: 10px;
    float: left;
    height: calc(100% - 30px);
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.status-message {
    color: #bbb;
}

.controls {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
    .controls input#current-message {
        margin: 0;
        width: calc(100% - 54px);
        height: 30px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        float: left;
        box-sizing: border-box;
    }
    .controls input#send-message {
        float: right;
        margin-left: 2px;
    }

nav {
    position: fixed;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2c3e50;
    background: #f5f5f5;
    padding: 5px;
    height: 51px;
    box-sizing: border-box;
}

.nav-icons, .nav-buttons {
    display: -webkit-flex;
    display: flex;
}
    .nav-buttons {
        margin-left: auto;
        margin-right: 5px;
    }
        .wrapper[data-mobile="true"] .nav-buttons {
            padding-top: 3px;
        }
        .nav-buttons .button.small {
            display:inline-block;
            margin-left: 10px;
        }

.icon {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    border: 0;
    border-radius: 4px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 5px;
    outline: none;
    cursor: pointer;
    display: inline-block;
}
    .wrapper[data-mobile="true"] .icon {
        margin-right: 8px;
    }
.sp-replacer.sp-light {
    display: inline-block;
}
    .wrapper[data-mobile="true"] .sp-replacer.sp-light {
        vertical-align: initial;
        height: 38px;
        width: 38px;
        background: #f5f5f5;
    }

.selected {
    background-color: #a9def4;
}

#save{
    background-image: url('/images/floppy.png');
}
    .wrapper[data-mobile="true"] #save {
        display: none;
    }
#pencil {
    background-image: url('/images/pencil.png');
}
    #pencil.selected {
        background-image: url('/images/pencil-filled.png');
    }
#text {
    background-image: url('/images/text.png');
}
    #text.selected {
        background-image: url('/images/text-filled.png');
    }
#eraser {
    background-image: url('/images/eraser.png');
}
    #eraser.selected {
        background-image: url('/images/eraser-filled.png');
    }

.button.small {
    height: 30px;
    width: auto;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    min-width: 0px;
    padding: 6px;
    text-transform: none;
    -webkit-appearance: none;
}

#clear {
    background: #e74c3c;
}

canvas#draw {
    background-color: #fff;
    cursor: crosshair;
    margin: auto;
    margin-top: 51px;
    display: block;
    transition: margin 0.2s ease-in;
}
    canvas#draw.left {
        margin-left: 0;
    }
    .wrapper[data-mobile="true"] canvas#draw {
        margin: 61px 10px 0;
    }

/* Spectrum overrides: */
.sp-replacer {
    border: none;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.sp-preview {
    border-color: #2c3e50;
    margin: 0;
    width: auto;
    height: auto;
}
.sp-preview-inner {
    position: static;
    width: 30px;
    height: 30px;
}
.sp-dd {
    display: none;
}
.sp-container {
    background-color: #f5f5f5;
    border-color: #2c3e50;
}
.sp-palette-container {
    width: 80px;
}
.sp-palette .sp-thumb-el.sp-thumb-active {
    border-color: #a9def4;
}
