#board {
    /*background: url('../images/bg.png') repeat #e4e4e4;*/
    width:70%;
    float:left;
}

#chat-container {
    width: 30%;
    height: 100%;
    border-left: 1px solid #ccc;
    float: left;
    box-sizing: border-box;
    background-color: #fcfdfe;
}

.chat {
    padding: 10px;
    float: left;
    height: calc(100% - 30px);
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.status-message {
    color: #bbb;
}

.controls {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
    .controls input#current-message {
        margin: 0;
        width: calc(100% - 54px);
        height: 30px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        float: left;
        box-sizing: border-box;
    }
    .controls input#send-message {
        float: right;
        margin-left: 2px;
    }

nav {
    display: flex;
    display: -webkit-flex;
}

.icon {
    height: 30px;
    width: 30px;
    padding: 0;
    margin-right: 20px;
    border: 0;
    border-radius: 4px;
    background: #53bee8;
    outline: none;
}

.pencil{
    background-image: url('/images/pencil.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.selected {
    background: #a9def4;
}

.selected#pencil {
    background: #a9def4;
    background-image: url('/images/pencil.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.save{
    background-image: url('/images/floppy.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.selected#save {
    background: #a9def4;
    background-image: url('/images/floppy.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.button.small {
    height: 30px;
    width: auto;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    margin-left: 20px;
    outline: none;
    box-sizing: border-box;
    min-width: 0px;
    padding: 6px;
}

canvas#draw {
    height: 650px;
    width: 100%;
    box-sizing: border-box;
}
